body
    font-family: Fredoka, sans-serif

#sct-navbar
    font-size: 24px

#sct-controles
    .container-fluid
        max-width: 50%
    .turnos
        width: 50px
        height: 50px
        font-size: 30px
        border-radius: 5px
        border: 1px solid
    .marcador
        width: 50px
        height: 50px
        font-size: 30px
        border-radius: 5px
        border: 1px solid
    button
        box-shadow: 0px 5px 4px #888888
    img
        max-height: 300px
        max-width: 60%
    .palabras
        letter-spacing: 3px
        box-shadow: 0px 5px 10px #888888
    

#sct-areajuego
    .container
        padding: 0px 100px
        max-width: 50%
    input
        border: none
        border-radius: 5px
        margin: 5px
        width: 60px
        height: 60px
        box-shadow: 0px 5px 10px #888888
    .btn-pista
        border: none
        border-radius: 5px
        margin: 5px
        width: 240px
        height: 60px
        box-shadow: 0px 5px 10px #888888
    .estilo-boton
        color: white
        background-color: #06F
    .estilo-boton:hover
        color: #06F
        background-color: #FFF
        border: 1px solid
        border-color: #06F
    .opcion-correcta
        background-color: #28CF08
        color: white
    .opcion-incorrecta
        background-color: #ff0000
        color: white